* {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Start of the header */
header {
    margin-top: 0px;
    padding-top: 0px;
    background: #fff;
}

/* Start of the nav bar */
nav {
    position: relative;
    right: 200px;
    float: right;
    background: #4aaaa5;
    color: #777;
    background: white;
}

nav a:hover {
    background: #4aaaa5;
    color: #fff;
    padding: 30px;
    font-size: 24px; 
    margin: 0px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #777;
}
li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    
}

#name {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 0px;
    position: relative;
    float: left;
    background: #4aaaa5;
    color: #fff;
    padding: 0px 5px 0px 5px;
    left: 200px;
    top: 5px;

}

/* Start of the content */
#greenish {
    color: #4aaaa5;
}

p {
    line-height: 30px;
}

/* The wrapper and the content area */
#wrapper {
    border-top: solid 1px grey;
    background: #ccc;
    clear: both;
    /* margin-top: 10px; */
    overflow: auto;
    height: auto;
}


.main {
    clear: both;
    margin-left: 200px;
    margin-right: 200px;
    /* width: 960px; */
    text-align: left;
    margin-top: 30px;
    background: #fff;
    padding: 10px;
    margin-bottom: 30px;
    color: #777;
    
    
}

.mainish {
    height: 700px;
}

/* Home page image */

.image-float {
    float: left;
}

img {
    height: 200px;
    width: 200px;
    margin: 10px;
}
/* Contact page (forms)*/
.container {
    color: #777;
    font-size: 20px;
    
}
.container input[type=text],
.container input[type=email] {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 15px;
    /* font-size: 20px; */
}

.container input[type=submit] {
    background: #4aaaa5;
    font-size: 20px;
    padding: 20px;
    color: white;
}

.container input[type=submit]:hover {
    font-size: 30px;
    text-transform: uppercase;
}

/* Portfolio images and text */

.image-1, .image-2, .image-3, .image-4, .image-5 {
    background: #4aaaa5;
    width: 200px;
    text-align: center;
    color: #fff;
}

.image-1 {
    position: relative;
    left: 10px;
    top: -515px;
}

.image-2 {
    position: relative;
    left: 234px;
    top: -560px;
}

.image-3 {
    position: relative;
    left: 10px;
    top: -390px;
}

.image-4 {
    position: relative;
    left: 234px;
    top: -435px;
}

.image-5 {
    position: relative;
    left: 10px;
    top: -255px;
}


/* Start of the bottom section */
/* gline is short for green line */
#gline {
    background: #4aaaa5;
    padding: 5px;
    margin: 0px;
    position: fixed;
    bottom: 70px;
    width: 110%;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 110%;
    color: #fff;
    background: #666; 
    padding: 5px;
    text-align: center;
    
}